@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-color: #000;

}

.texta{
    background-color: #42078C;
}



section, nav{
    background-color: #000;
}


nav{
    color: #fff;
    display: flex;
    justify-content: center;

   
}

nav ul li{
font-family: 'Poppins', cursive;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 37px;
color: #FFFFFF;
padding-right: 30px;
padding-top: 18px;

}

nav ul{
    display: flex;
  
}

.home {
    display: flex;
    justify-content: center;
}

.home img{
    padding-top: 50px;
    padding-left: 40px;
}

.home h4{
    width: 314px;
    height: 76px;
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 10px;
    padding-top: 250px;
    color: #FFFFFF;
}


.home h1{
    width: 518px;
height: 30px;

font-family: 'Poppins', cursive;
font-style: normal;
font-weight: bold;
font-size: 70px;

color: #FFFFFF;
padding-top: 30px;
padding-right: 80px;
}

/* == texto sobre mim */

.info h3{
    width: 336px;
height: 98px;
left: 583px;
top: 1105px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 120px;
margin:  0 auto;

color: #42078C;
}   

.line-left{
    width: 50px;
    height: 50px;
    border-left:5px solid #42078C;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* padding-bottom: 5px;
    border-width: 0px;
    margin: 0 auto; */
}

.info-section{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.info p{
    padding-top: 10px;
    margin: 0 auto;
    width: 733px;
    color: #fff;
    font-family: 'Poppins',cursive;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 20px;
}

.line{
    display: block;
}

.qualification_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
}

.qualification_line {
    display: block;
    width: 50px;
    height: 100%;
    background-color: #42078C;
    transform: translate(6px, -7px);
}

.info button{
    width: 112px;
height: 35px;
border-width: 0px;
background-color: #42078C;
font-family: 'Poppins', cursive;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
cursor: pointer;
color: #FFFFFF;

}

.info button:hover{
    background-color: #000;
    border: 1px solid #42078C;
    transition: 1s;
}

/* === PROJETOS === */



.projetos-section{
    
    color: #fff;
    padding-top: 120px;
}

iframe{
    max-width: 100%;
    display: block;
}

.projetos{
    display: flex;
    flex-wrap: wrap;
    

}


.projeto1{
    padding-top: 20px;
    margin: 0 auto;
}
.projetos-section h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: #42078C;
    display: flex;
    justify-content: center;       
}

.info-section h1{
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 120px;
    color: #42078C;
    display: flex;
    justify-content: center; 
}

.projetos h3{
    color: #fff;
    font-family: 'Poppins', cursive;
}



.projeto1 h3{
    color: #fff;
    width: 300px;
    font-family: 'Poppins', cursive;
    margin: 0 auto;
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    justify-content: center;
    padding-top: 8px;
    
}

.projeto1 p{
    color: #fff;
    font-family: 'Poppins', cursive;
    width: 400px;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    padding-top: 20px;
    font-weight: 100px;
    align-items: center;
    text-align: center;

}

.btn{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
}

.btn-acess{
    align-items: center;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border-width: 0px;
     background-color: #42078C; 
     color: #fff;
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    line-height: 22px;
    
}

.btn-tecnologia{
    background-color: #000;
    border: 1px solid #42078C; 
    font-family: 'Poppins', cursive;
    transition: 1s;
    color: #fff;
    width: 70px;
}


.btn-acess:hover{
    background-color: #000;
     border: 1px solid #42078C; 

    transition: 1s;
    color: #fff;
}

.hr{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


/* contato */


.section-contato{
    margin: 0 auto;
    justify-content: center;
    
    padding-top: 90px;
   
} 

.section-contato h1{

    font-family: 'Poppins', cursive;
    font-style: normal;
    
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

/* .formulario{
    padding-top: 50px;
} */

.formulario input{
    
width: 500px;
height: 58px;
background-color: #000;
border: 1px solid #42078C;
box-sizing: border-box;
margin: 0 auto;
margin-top: 20px;
display: flex;
}



.input-msg{
    width: 500px;
    height: 85px;
    border: 1px solid #42078C;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;

    margin-top: 20px;
}
/* 
input{
    display: block;
    
} */
 input::placeholder{
    color: #c4c4c4;
    font-weight: 100px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Poppins', cursive;
} 

textarea::placeholder{
    color: #c4c4c4;
    font-weight: 100px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Poppins', cursive;

} 
textarea{
    background-color: #000;
}

.btn-cancel{
    width: 130px;
    height: 49px;
    background-color: #640000;
    border-width: 0px;
    font-family: 'Poppins' cursive;
    font-size: 14px;
    margin-top: 15px;
    color: #fff;

}
.btn-success{
    width: 130px;
    height: 49px;
    background-color: #0D3A02;
    border-width: 0px;
    font-family: 'Poppins' cursive;
    font-size: 14px;
    color: #fff;

}

.buttons{
    text-align: center;
    align-items: center;
    

}








